.button {
  width: 240px;
  height: 44px;
  line-height: 44px;

  border-radius: 1.5em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  position: relative;
  
  &.mobile-shrink {
    @include media-query('medium') {
      width: 120px;
    }
  }


  &:hover{
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 44px;

      background-color: rgba(255,255,255, .16);
      border-radius: 1.5em;
    }
  }

  &:focus{
    
  }
  
  &__small{
    max-width: 120px;
  }

  &__large{
    max-width: 240px;
  }

  &--color-dark{
    background-color: $color-darkgrey;
    color: $color-lightgrey;
  }

  &--color-primary{
    background-color: $color-primary;
    color: $color-lightgrey;
  }

  &--border-white{
    background-color: transparent;
    color: $color-lightgrey;

    border: 2px solid $color-lightgrey;
  }
}