.faq{

}

.faq-bar{
  min-height: 44px;
  border-bottom: 2px solid $color-darkgrey;

  cursor: pointer;

  &__heading{
    display: grid;
    grid-template-columns: 1fr 56px;  
    align-items: center;
  }

  &__answer{
    display: grid;
    grid-template-columns: 1fr;
  }

}