footer.main-footer-bar {
    padding-bottom: 80px;
    padding-top: 80px;
  
  @include media-query('small-medium') {
    padding-bottom: 72px;
    padding-top: 72px;
  }

  background-color: $color-darkgrey;
  color: $color-lightgrey;

  display: flex;
  justify-content: center;
}

.main-footer-container {
  @include container-center;

  display: flex;
  flex-direction: column;
}

.main-footer-menus{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;

  @include media-query('small') {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  li{
    color: $color-lightgrey;
    list-style-type: none;
    word-wrap: break-word;
  }

  &__social-icons{
    li{
      display: inline-block;
    }
  }
}

