div.main-navigation-bar {
  background-color: $color-darkblue;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 9998;
  display: flex;
  justify-content: center;
}

.main-navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.main-navigation-online {
  width: 100%;
  background-color: $color-darkerblue;

    &__container{
      @include container-center;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
}

.main-navigation-menu{
  padding-top: 1em;
  background-color: $color-darkblue;

  height: 70px;
  width: 100%;

  &__container{
    @include container-center;
    
    display: grid;
    grid-template-columns: 200px 1fr 120px;
    justify-content: flex-start;
    align-items: center;

    @include media-query('medium') {
      grid-template-columns: 1fr auto 120px;
    }
  }
}

nav.main-nav{
  ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: flex-start;
    grid-gap: 2em;
  }

  li{
    color: $color-lightgrey;
    list-style-type: none;
    word-wrap: break-word;
  }

  a > li{
    display: inline-block;
  }

  a.link-active{
    font-weight: bold;
    box-shadow: 0 2px 0 0 $color-link-active;
  }
}


nav.social-nav{
  
  li {
    margin: 0 4px;
    width: 44px;
    height: 44px;
    text-align: center;
  }
}

.ac-membersonline {
  width: auto;
  color: $color-lightgrey;
  font-weight: bold;
  line-height: 44px;

  display: grid;
  grid-template-columns: 16px 1fr;
  grid-gap: 8px;
  justify-content: center;
  align-items: center;

  &__indicator {
    margin: 4px;
    width: 12px;
    height: 12px;
    background-color: lightgreen;
    border-radius: 50%;
  }
}
