.home-header{
  margin: 0;
  padding: 1em 0;
  width: 100%;
  height: calc(98vh - 108px);
  max-height: 960px;
  background-color: $color-darkblue;
  overflow: hidden;

  @include media-query('medium') {
    max-height: 960px;
  }

  @include media-query('small') {
    max-height: 600px;
  }

  &__container{
    @include container-center;
    height: 100%;
  }

  &__content{
    display: grid;
    grid-template-columns: auto 600px;
    grid-gap: 2em;

    @include media-query('medium') {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      align-items: flex-start;
    }

    @include media-query('small') {
      grid-template-rows: auto 1fr;
    }
    

    height: 100%;
  }

  &__cta{
    margin-top: 1em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    justify-content: flex-start;
  }

  &__text{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;

    @include media-query('medium') {
      margin-right: auto;
      max-width: unset;
    }
    
    &--limited{
      max-width: 450px;

      @include media-query('medium') {
        max-width: unset;
      }
    }
  }

  &__images{

    position: relative;

  }
}

.home-header-mobile{
  position: absolute;
  top: 58%;
  left: 2em;
  transform: translateY(-50%);
  z-index: 1;

  @include media-query('medium') {
    top: 2.5em;
  }

  @include media-query('small') {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  figure{
    img{

    }
  }
}

.home-header-laptop{
  position: absolute;
  top: 50%;
  left: 5em;
  transform: translateY(-50%);
  z-index: 0;

  @include media-query('small') {
    left: 50%;
    transform: translateX(-50%);
  }

  figure{
    img{

    }
  }
}