.testimonials{
}

.testimonials-slider{

  &__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;

    @include media-query('medium') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__slide{
    padding: 1em;
    background-color: white;
    width: 100%;
  }

  &__rating{
    margin: .25em 0;
    width: 100%;
    ul{
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(5, 24px);
      grid-gap: 10px;
      li{
      list-style-type: none;
      }
    }
  }
}