<section class="bg-color-darkgrey">
  <div class="cta-ready-to container-fluid grid-columns--center container-center--small-padding">
    <div class="cta-ready-to__header">
        <h2 class="color-lightgrey text-center font-size-xlarge">Ready to get started</h2>
    </div>
    <div class="grid-columns grid-2-columns grid--space-around">
      <div class="grid-item grid-columns grid--flex-end">
        <div class="button button--color-dark" role="button">
          <span>Choose memberships</span>
        </div>
      </div>
      <div class="grid-item grid-columns grid--flex-start">
        <div class="button button--color-primary" role="button">
          <span>Get started for free</span>
        </div>
      </div>
      </div>
    </div>
  </div>
  </section>