<footer class="main-footer-bar">
  <div class="main-footer-container">
    <div class="main-footer-menus">
      <nav>
        <h4 class="color-lightgrey">Community</h4>
        <ul>
        <a href="/register"><li>Register</li></a>
          <a href="/join-discord"><li>Join us on Discord</li></a>
            <a href="/free-content"><li>Free content</li></a>
              <a href="/memberships"><li>Membership</li></a>
            </ul>
      </nav>
      <nav>				
        <h4 class="color-lightgrey">Altcoin Traders</h4>
          <ul>
            <a href="/education"><li>Education</li></a>
            <a href="/trades"><li>Trades</li></a>
            <a href="/about-us"><li>About us</li></a>
            <a href="/support"><li>Support</li></a>
            <a href="/tradingview"><li>Tradingview</li></a>
            <a href="/privacy-terms"><li>Privacy and terms</li></a>
          </ul>
      </nav>
      <nav class="main-footer-menus__social-icons">
        <h4 class="color-lightgrey">Join the conversation</h4>
        <ul>
          <a href="https://twitter.com"><li><div class="icon icon__small icon--invert"><figure><img src="/assets/icons/twitter.svg"  alt="twitter" /></figure></div></li></a>
          <a href="https://instagram.com"><li><div class="icon icon__small icon--invert"><figure><img src="/assets/icons/instagram.svg" alt="instagram" /></figure></div></li></a>
          <a href="https://discord.com"><li><div class="icon icon__small icon--invert"><figure><img src="/assets/icons/discord.svg" alt="discord" /></figure></div></li></a>
        </ul>
      </nav>
    </div>
  </div>
</footer>