<section class="pricing bg-color-darkerblue color-white">
		<div class="container-center">
			<div class="grid-columns grid-1-columns">
					<div class="grid-item">
						<span>What you will get as a member</span>
						<h2 class="color-lightgrey">Premium membership</h2>
            <div class="pricing-table">
              <div class="pricing-table__heading pricing-table__row">
                <div class="pricing-table__usp"></div>
                <div class="pricing-table__freemium"><strong>Trades only</strong></div>              
                <div class="pricing-table__premium"><strong>Premium membership</strong></div>     
              </div>       
              <div class="pricing-table__table bg-color-darkgrey">
                <div class="pricing-table__row">
                  <div class="pricing-table__usp">
                    <span>Access to trade setups</span>
                  </div>
                  <div class="pricing-table__freemium">
                    <div class="icon icon icon__pricing-include">
                      <figure>
                        <img src="assets/icons/check.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                  <div class="pricing-table__premium">
                    <div class="icon icon icon__pricing-include">
                      <figure>
                        <img src="assets/icons/check.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="pricing-table__row">
                  <div class="pricing-table__usp">
                    <span>Access to investment picks</span>
                  </div>
                  <div class="pricing-table__freemium">
                    <div class="icon icon icon__pricing-include">
                      <figure>
                        <img src="assets/icons/check.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                  <div class="pricing-table__premium">
                    <div class="icon icon icon__pricing-include">
                      <figure>
                        <img src="assets/icons/check.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="pricing-table__row">
                  <div class="pricing-table__usp">
                    <span>Trading course and extensive video libary</span>
                  </div>
                  <div class="pricing-table__freemium">
                    <div class="icon icon__pricing-exclude">
                      <figure>
                        <img src="assets/icons/x.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                  <div class="pricing-table__premium">
                    <div class="icon icon icon__pricing-include">
                      <figure>
                        <img src="assets/icons/check.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="pricing-table__row">
                  <div class="pricing-table__usp">
                    <span>Interactive livestreams</span>
                  </div>
                  <div class="pricing-table__freemium">
                    <div class="icon icon__pricing-exclude">
                      <figure>
                        <img src="assets/icons/x.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                  <div class="pricing-table__premium">
                    <div class="icon icon icon__pricing-include">
                      <figure>
                        <img src="assets/icons/check.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="pricing-table__row">
                  <div class="pricing-table__usp">
                    <span>Daily market updates</span>
                  </div>
                  <div class="pricing-table__freemium">
                    <div class="icon icon__pricing-exclude">
                      <figure>
                        <img src="assets/icons/x.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>  
                  </div>
                  <div class="pricing-table__premium">
                    <div class="icon icon icon__pricing-include">
                      <figure>
                        <img src="assets/icons/check.svg" class="icon--invert"  alt="check" />
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="pricing-table__row">
                  <div class="pricing-table__usp">
                    <span>24/7 access to a team of professional traders analysts</span>
                  </div>
                  <div class="pricing-table__freemium">
                    <div class="icon icon__pricing-exclude">
                      <figure>
                        <img src="assets/icons/x.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                  <div class="pricing-table__premium">
                    <div class="icon icon icon icon__pricing-include">
                      <figure>
                        <img src="assets/icons/check.svg" class="icon--invert" alt="check" />
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pricing-table__footer">
                <a href="/">
                  <div class="button button__large button--color-primary" role="button">
                    View pricing
                  </div>
                </a>
                <a href="/">
                  <div class="button button__large button--border-white" role="button">
                    About us
                  </div>
                </a>
              </div>
            </div>
          </div>
			</div>
			</div>
	</section>