
.grid-columns {
  display: grid;
  grid-gap: 20px;

  &--center{
    justify-content: center;
    align-items: center;

  }

  &--space-around{
    justify-content: space-around;
  }
}

.grid-1-columns{
  grid-template-columns: auto;
}

.grid-2-columns{
  grid-template-columns: 1fr 1fr;

  @include media-query('medium') {
    grid-template-columns: 1fr;
  }
}

.grid-3-columns{
  grid-template-columns: 1fr 1fr 1fr;

  @include media-query('medium') {
    grid-template-columns: 1fr;
  }
}

.grid-3rd-columns{
  grid-template-columns: 2fr 1fr;

  @include media-query('medium') {
    grid-template-columns: 1fr;
  }
}

.grid-item{
  padding: 2em 0;
  @include media-query('medium') {
    padding: .25em 0;
  }

  &--400{
    max-width: 400px;
  }

  &--600{
    max-width: 600px;
  }
}

.content-box-with-icon{
  display: grid;
  grid-template-columns: 56px 1fr;
  grid-gap: 20px;
}

.grid--space-around{
  justify-content: space-around;
}

.grid--flex-end{
  justify-content: flex-end;
  @include media-query('medium') {
    justify-content: center;
  }
}
.grid--flex-start{
  justify-content: flex-start;
  @include media-query('medium') {
    justify-content: center;
  }
}

.grid-gap-1{
  grid-gap: 1em;
}

.grid-gap-2{
  grid-gap: 1em;
}

.grid-button{
  margin-top: 1em;
  display: grid;
  grid-gap: 1em;
  justify-content: flex-start;

  &--sm-2{
    grid-template-columns: auto auto;

    @include media-query('small') {
      grid-template-columns: auto;

    }
  }

  &--md-2{
    grid-template-columns: auto auto;

    @include media-query('medium') {
      grid-template-columns: auto;

    }
  }

}