.color-white {
  color: $color-white !important;
};

.color-lightgrey {
  color: $color-lightgrey !important;
};

.color-darkerblue {
  color: $color-darkerblue !important;
};

.color-darkblue {
  color: $color-darkblue !important;
};

.color-mediumblue {
  color: $color-mediumblue !important;
};

.color-purple{
  color: $color-primary !important;
}

.bg-color-lightgrey {
  background-color: $color-lightgrey !important;
};

.bg-color-darkerblue {
  background-color: $color-darkerblue !important;
};

.bg-color-darkblue {
  background-color: $color-darkblue !important;
};

.bg-color-mediumblue {
  background-color: $color-mediumblue !important;
};

.bg-color-darkgrey{
  background-color: $color-darkgrey !important;
}

.bg-color-purple{
  background-color: $color-primary !important;
}