.hr{ 
  margin: 40px 0;
  width: 100%;
  height: 4px;

  &__full{
    position: relative;

    &::after{
      content: "";
      height: 4px;
      width: 28%;
      position: absolute;
      top: 0;
      background-color: $color-primary;
    }

      &--left{
        &::after{
        left: -1em;
        }
      }
      
      &--right{
        &::after{
        right: -1em;
        }
      }
    }

  } 

